# Python
venv/
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.coverage
htmlcov/

# Environment
.env
.env.*

# IDE
.vscode/*
!.vscode/settings.json

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Database
*.sqlite3
database/seeds/*.csv

# Docker
*.env.docker

# Streamlit
.streamlit/secrets.toml